@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lavishly+Yours&family=Mansalva&family=Shadows+Into+Light&family=Sue+Ellen+Francisco&family=Sunshiney&display=swap');

body{
    background: #c3c3ed;
    color: rgb(168, 108, 232);
    font-family:"Sue Ellen Francisco", cursive;
    text-align:center;
    font-size:30px;
}
h1{
    color:#ff4665;
    text-align:center;
    font-size:70px;
    font-family:"Lavishly Yours", cursive;
}
h2{
    color:rgb(113, 167, 158);
    font-size: 45px;
    font-family: "Ephesis", cursive;
    text-align: center;
}
h3{
    font-weight: 50px;
    font-size:30px;
    font-family: "Ephesis", cursive;
    color:rgb(113, 167, 158);
}
.recipe-section{
border: 15px dashed rgb(219, 128, 143);
padding:20px;
margin:20px 10%;
background: rgb(247, 195, 138);
border-radius: 10%
}
a{
    color:rgb(180, 87, 230);
    text-decoration:double;
    font-weight: bold;
    background:linear-gradient(to top, #ed80a2 0%, rgb(224, 176, 176) 100%);
    border: 2px solid;
    padding: 5px;
    margin: 3px;
    display:inline-block;

}

ol{
    padding:20px;
    margin:20px;
    background: rgb(213, 213, 243);
    text-align:left;
}
img{
    border: 7px dotted rgb(234, 105, 127);
    margin: 10px;
    border-radius:20%;
}
ul{
    list-style-type:none;
    background:rgb(251, 249, 198);
    padding: 20px;
    margin: 20px;
    border-radius:10%
    
}
.center{
    text-align: center;
    margin: auto;
}
p{
    background:rgb(255, 212, 217);
    border-radius: 10%;
}
#recipe1{
    border:20px dashed rgb(244, 220, 142);
   
   
}
#ol1{
    background: rgb(243, 199, 214);
    border-radius: 5%;
}
#recipe2{
   background: rgb(244, 206, 212); 
}
#ul2{
    background:#d8bdea;
}
#p2{
    background:#c4e5fd;

}
#recipe3{
    border:20px dashed rgb(139, 189, 239);
    background:#ccdde8
}
#p3{
    background:#b3dbc6;
}
#ul3{
    background: #f8bef8;
}
#ol3{
    background:#cffbe9;
    border-radius:5%
}
#logo{
    padding:0px;
    border:transparent;
    margin:-100px;
}
