body{
    background: rgb(195, 195, 237);
    color: rgb(168, 108, 232);
    font-family:Verdana;
}
h1{
    color:rgb(255, 70, 101);
    text-align:center;
    font-size:40px;
    font-family:Georgia;
}
h2{
    color:rgb(113, 167, 158);
    font-size:25px;
    font-family:georgia;
    text-align: center;
}
h3{
    font-weight: 50px;
    font-size:20px;
}
.recipe-section{
border: 15px dashed rgb(230, 131, 148);
padding:20px;
margin:20px 0;
background: rgb(247, 195, 138);
border-radius: 10%
}
a{
    color:rgb(180, 87, 230);
    text-decoration:double;
    font-weight: bold;
}

ol{
    padding:20px;
    margin:20px;
    background: rgb(195, 195, 237);
}
img{
    border: 7px dotted rgb(234, 105, 127);
}